<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css" integrity="sha256-A47OwxL/nAN0ydiDFTSGX7ftbfTJTKgiJ0zqCuTPDh4=" crossorigin="anonymous" />  
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <nav>
    <a href="/">Men Stack CRUD Lab</a>
    |
    <a href="/new">New Page</a>
  </nav>