<%- include('./partials/header.ejs') %>

  <h1>Create MEN CRUD</h1>

  <form method="POST" action="/">
    <fieldset>
      <label for="name">Name:</label>
      <input id="name" type="text" name="name" placeholder="Enter Name" />
    </fieldset>

    <button>Add!</button>

  </form>


<%- include('./partials/footer.ejs') %>